---
interface Props {
	imgSrc: string;
	clientName: string;
	position: string;
	title: string;
	text: string;
	colspan?: string;
	rowspan?: string;
	color?: string;
	titleColor?: string;
	textColor?: string;
	usernameColor?: string;
	background: string;
}

const { imgSrc, clientName, position, title, text, colspan, rowspan, color, background, titleColor, textColor, usernameColor } = Astro.props;
---

<article class=`${background} ${color} px-6 md:px-10 py-6 text-white rounded-lg ${colspan} ${rowspan} shadow-xl`>
	
	<section class="flex flex-x-4 items-center">
		<img 
			class="w-10 h-10 border-2 border-white rounded-full" 
			src={imgSrc}
			alt="user"
		>
		<section class="ml-3 text-sm">
			<p class=`font-bold ${usernameColor}`>{clientName}</p>
			<span class="text-neutral-light-gray">
				{position}
			</span>
		</section>
	</section>

	<h3 class=`mt-4 text-xl font-medium ${titleColor}`>
		{title}
	</h3>
	<p class=`mt-4 text-sm ${textColor}`>
		{text}
	</p>
	
</article>

